body {
  font-family: sans-serif;
}

.tenor-gif-embed {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
}

.gif-wrapper {
  display: flex;
  gap: 2rem;
}

button {
  margin: 0.5rem;
}

.content {
  margin-top: 8px;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid darkgoldenrod;
  background: gold;
  border-radius: 50%;
  position: relative;
  display: block;
  -webkit-animation: moveit 2.5s infinite;
  animation: moveit 2.5s infinite;
}

.circle-wrapper {
  width: 100px;
  height: 100px;
  border: 1px dashed lightgray;
}

@-webkit-keyframes moveit {
  from {
    top: 0px;
    opacity: 0;
  }
  25% {
    top: 80px;
    opacity: 1;
  }
  50% {
    top: 40px;
    opacity: 1;
  }
  75% {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0px;
    opacity: 0;
  }
}

@keyframes moveit {
  from {
    top: 0px;
    opacity: 0;
  }
  25% {
    top: 80px;
    opacity: 1;
  }
  50% {
    top: 40px;
    opacity: 1;
  }
  75% {
    top: 80px;
    opacity: 1;
  }
  to {
    top: 0px;
    opacity: 0;
  }
}
